@use '@styles/variables' as *;

.InputField {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: $spacing-8;
}

.InputFieldInputIconWrapper {
  position: relative;
  display: flex;
  flex: 1;
}

.InputFieldInput {
  all: unset;
  font-size: 0.875rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 32px;
  border: 1px solid var(--border-color);
  line-height: 1;
}

.InputFieldInput:hover {
  border-color: var(--border-color-hover);
}

.InputFieldInput:focus {
  outline: 2px solid var(--border-color-focus);
}

.InputFieldInputWithIcon {
  padding-right: 32px;
}

.InputFieldIcon {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}

// so that inserted icon takes width, height defined in .InputFieldIcon
.InputFieldIcon > * {
  width: 100%;
  height: 100%;
}
