services:
  authentication-service:
    build:
      context: .
      dockerfile: apps/authentication-service/Dockerfile
    container_name: authentication_service
    image: authentication-service:latest
    environment:
      PORT: 3000
      DOPPLER_TOKEN: ${DOPPLER_TOKEN_AUTHENTICATION_SERVICE}
    entrypoint: ["doppler", "run", "--"]
    command: ["pnpm", "start"]
    depends_on:
      - authentication-service-mongodb

  authentication-service-mongodb:
    build:
      context: ./apps/authentication-service-mongodb
      dockerfile: Dockerfile
    container_name: authentication_service_mongodb_instance
    ports:
      # Map host port for direct access (e.g., via MongoDB Compass)
      - "${DB_HOST_PORT:-27017}:27017"
    environment:
      DOPPLER_TOKEN: ${DOPPLER_TOKEN_AUTHENTICATION_SERVICE}
    volumes:
      - mongo_data:/data/db

  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    container_name: api_gateway
    image: api-gateway:latest
    environment:
      PORT: 3000
      DOPPLER_TOKEN: ${DOPPLER_TOKEN_API_GATEWAY}
    entrypoint: ["doppler", "run", "--"]
    command: ["pnpm", "start"]
    depends_on:
      - authentication-service
    ports:
      - "8080:3000"

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        DOPPLER_TOKEN: ${DOPPLER_TOKEN_FRONTEND}
    container_name: frontend
    image: frontend:latest
    ports:
      - "3000:80"
    depends_on:
      - api-gateway

volumes:
  mongo_data:
