services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit_dev
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    networks:
      - dev-network

  authentication-service-mongodb:
    ports:
      - "${DB_HOST_PORT:-27017}:27017" # expose MongoDB for Compass
    volumes:
      - mongo_data:/data/db
    networks:
      - dev-network

  authentication-service:
    networks:
      - dev-network

  api-gateway:
    networks:
      - dev-network

  frontend:
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

volumes:
  mongo_data:
