// Theme
// Light mode
$light-primary-color: rgb(0, 153, 153); // cta buttons, key elements, links(?)
$light-primary-color-light: rgb(0, 204, 204); // focus state
$light-primary-color-lighter: rgb(102, 204, 204); // hover state, secondary accent
$light-primary-color-dark: rgb(0, 122, 122);  // contrast areas
$light-accent-color: rgb(255, 121, 94); // notifications
$light-background-color-light: rgb(240, 240, 240);  // body background
$light-background-color-dark: rgb(255, 255, 255); // content cards
$light-text-color-primary: rgb(35, 35, 35); // body text, headings, important text
$light-text-color-secondary: rgb(200, 200, 200); // secondary text (CHECK CONTRAST ON BACKGROUND!)
$light-border-color: rgba(0, 0, 0, 0.2);
$light-border-color-hover: #e0e0e0;
$light-border-color-focus: $light-primary-color;
// Dark mode
$dark-primary-color: rgb(0, 170, 170); // cta buttons, key elements, links(?)
$dark-primary-color-light: rgb(0, 204, 204); // focus state
$dark-primary-color-lighter: rgb(102, 204, 204); // hover state, secondary accent
$dark-primary-color-dark: rgb(0, 139, 139);  // contrast areas
$dark-accent-color: rgb(255, 121, 94); // notifications
$dark-background-color-light: rgb(15, 15, 15);  // body background
$dark-background-color-dark: rgb(30, 30, 30); // content cards
$dark-text-color-primary: rgb(220, 220, 220); // body text, headings, important text
$dark-text-color-secondary: rgb(180, 180, 180); // secondary text (CHECK CONTRAST ON BACKGROUND!)
$dark-border-color: rgba(255, 255, 255, 0.3);
$dark-border-color-hover: #e0e0e0;
$dark-border-color-focus: $dark-primary-color;

// Typography
$font-family: 'Rubik', 'Nunito', sans-serif;
$font-size-base: 18px;

// Spacing
$spacing-8: 8px;  // default
$spacing-4: 4px;
$spacing-16: 16px;
$spacing-12: 12px;
