.Skeleton {
  display: inline-block;
  border-radius: var(--radius-md);
  animation: skeleton-pulse 1000ms infinite alternate-reverse;
  box-shadow: none;
  box-decoration-break: clone;
  outline: none;
  color: transparent;
  cursor: default;
  user-select: none;
}

@keyframes skeleton-pulse {
  from {
    background-color: var(--gray-200);
  }
  to {
    background-color: var(--gray-100);
  }
}
