.IconLink {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 6px;
  border: 1px solid transparent;
}
.IconLink:hover {
  border-color: var(--color-border-light);
}
.IconLink:focus {
  outline: 2px solid var(--color-border-focus);
}

.IconLink > * {
  width: 100%;
  height: 100%;
}