.FormInputField {
  display: flex;
  flex-direction: column;
}

.FormInputFieldLabel {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
  margin-bottom: var(--space-sm);
}

.FormInputFieldInput {
  appearance: auto;
  border-radius: var(--radius-md);
  padding: var(--space-md) var(--space-sm);
  border: 2px solid var(--color-border-light);
  font-size: var(--font-size-sm);
  margin-bottom: var(--space-xs);
}
.FormInputFieldInput:hover {
  border-color: var(--color-border-strong);
}
.FormInputFieldInputError {
  border: 1px solid var(--color-error);
}

.FormInputFieldError {
  color: var(--color-error);
  font-size: var(--font-size-xs);  
}
