.FormInputField {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.FormInputFieldLabel {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
}

.FormInputFieldInput {
  appearance: auto;
  border-radius: var(--radius-md);
  padding: var(--space-md) var(--space-sm);
  border: 2px solid var(--color-border-light);
  font-size: var(--font-size-sm);
}
.FormInputFieldInput:hover {
  border-color: var(--color-border-strong);
}
