.Button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-md);
  background: none;
  border: 0;
  cursor: pointer;
  border-radius: var(--radius-md);
}
.Button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.Button--primary {
  padding: var(--space-md) var(--space-sm);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}
.Button--primary:not(:disabled):hover {
  background-color: var(--primary-500);
}

.Button--secondary {
  border: 1px solid var(--color-primary);
  font-weight: var(--font-weight-semibold);
}
.Button--secondary:not(:disabled):hover {
  border-color: var(--primary-500);
}

.Button--text {
  padding: var(--space-sm);
}
.Button--text:not(:disabled):hover {
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-accent-hover-subtle);
}

.ButtonSpinner {
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.Button--alignStart {
  justify-content: flex-start;
}
.Button--alignCenter {
  justify-content: center;
}
.Button--alignEnd {
  justify-content: flex-end;
}

.ButtonIcon {
  display: inline-flex;
  flex-shrink: 0;
  width: var(--space-md);
  height: var(--space-md);
}
.ButtonIcon > svg {
  height: 100%;
  width: 100%;
}

.Button--fullWidth {
  width: 100%;
}
