.Button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-sm);
  font-size: var(--font-size-sm);
  background: none;
  border: 0;
  cursor: pointer;
  border-radius: var(--radius-md);
}

.PrimaryButton {
  padding: var(--space-md) var(--space-sm);
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}
.PrimaryButton:hover {
  background-color: var(--primary-500); 
}

.SecondaryButton {
  border: 1px solid var(--color-primary);
}
.SecondaryButton:hover {
  border-color: var(--primary-500);
}

.TextButton {
  padding: var(--space-sm);
}
.TextButton:hover {
  font-weight: var(--font-weight-semibold);
  background-color: var(--color-accent-subtle);
}

.ButtonIcon {
  display: inline-flex;
  flex-shrink: 0;
  width: var(--space-md);
  height: var(--space-md);
}
.ButtonIcon > svg {
  height: 100%;
  width: 100%;
}

.Button--fullWidth {
  width: 100%;
}