.ForgotPasswordFormCardWrapper {
  width: 448px;
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  padding: var(--space-lg);
}

.ForgotPasswordFormCardHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--space-lg);
}

.ForgotPasswordFormCardTitle {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-loose);
  text-align: center;
}

.ForgotPasswordFormCardSubTitle {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  text-align: center;
}

.ForgotPasswordForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-md) 0 var(--space-lg) 0;
}

.ForgotPasswordFormInputFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ForgotPasswordFormLabel {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
}

.ForgotPasswordFormInput {
  appearance: auto;
  border-radius: var(--radius-md);
  padding: var(--space-md) var(--space-sm);
  border: 2px solid var(--color-border-light);
  font-size: var(--font-size-sm);
}
.ForgotPasswordFormInput:hover {
  border-color: var(--color-border-strong);
}

.ForgotPasswordFormBackButton {
  display: flex;
  justify-content: center;
}
