.ForgotPasswordSentPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--space-xl) var(--space-md);
}

.ForgotPasswordSentPageHeaderOptionsWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: end;
}

.ForgotPasswordSentPageMain {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
  max-width: var(--container-md);
  min-width: var(--container-md);
  margin: auto;
}

.ForgotPasswordSentPageLogoTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ForgotPasswordSentPageLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-3xl);
  height: var(--size-3xl);
  border-radius: 50%;
  background-color: var(--color-primary);
}
.ForgotPasswordSentPageLogo > svg {
  width: var(--size-xl);
  height: var(--size-xl);
  color: var(--color-surface);
}

.ForgotPasswordSentPageTitle {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-4xl);
  font-weight: var(--font-weight-bold);
}

.ForgotPasswordSentPageDescription {
  text-align: center;
}

.ForgotPasswordSentPageCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  padding: var(--space-lg);
}

.ForgotPasswordSentPageSpamHint {
  text-align: center;
  font-size: var(--font-size-sm);
}

.ForgotPasswordSentPageButtons {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
