.Callout--info {
  --callout-accent: var(--info-500);
  --callout-bg-soft: var(--info-50);
  --callout-border: var(--info-500);
  --callout-fg: var(--color-text-primary);
}

.Callout--success {
  --callout-accent: var(--success-500);
  --callout-bg-soft: var(--success-50);
  --callout-border: var(--success-500);
  --callout-fg: var(--color-text-primary);
}

.Callout--warning {
  --callout-accent: var(--warning-500);
  --callout-bg-soft: var(--warning-50);
  --callout-border: var(--warning-500);
  --callout-fg: var(--color-text-primary);
}

.Callout--error {
  --callout-accent: var(--error-500);
  --callout-bg-soft: var(--error-50);
  --callout-border: var(--error-500);
  --callout-fg: var(--color-text-primary);
}

.Callout {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-md);
  border-radius: var(--size-sm);
  font-size: 0.875rem;

  color: var(--callout-fg);
}

.CalloutIcon {
  flex-shrink: 0;
  color: var(--callout-accent);
  display: inline-flex;
}

.CalloutContent {
  flex-grow: 1;
}

.CalloutCloseButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: var(--space-xs);
  border-radius: 50%;
  height: 23px;
}
.CalloutCloseButton:hover {
  background-color: var(--color-border-light);
}

.Callout--outlined {
  background: transparent;
  border: 1px solid var(--callout-border);
}

.Callout--soft {
  background: var(--callout-bg-soft);
  border: 1px solid transparent;
}

.Callout--filled {
  background: color-mix(
    in srgb,
    var(--callout-accent) 20%,
    var(--color-surface)
  );
  color: var(--color-text-primary);
}

.Callout--filled .CalloutIcon {
  color: var(--callout-accent);
}
