.BrandLogo {
  cursor: pointer;
}

.BrandLogo--header {
  width: var(--size-xl);
  height: var(--size-xl);
}
.BrandLogo--footer {
  width: var(--size-5);
  height: var(--size-5);
}
.BrandLogo--auth {
  height: var(--size-2xl);
  width: var(--size-2xl);
}

.BrandLogo > svg {
  width: 100%;
  height: 100%;
}
