.ForgotPasswordPage {
  padding: var(--space-xl) var(--space-md);
}

.ForgotPasswordPageHeaderOptionsWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: end;
}

.ForgotPasswordPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.ForgotPasswordPageProjectLogoTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ForgotPasswordPageProjectTitle {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-4xl);
}
