.RegisterPage {
  padding: var(--space-xl) var(--space-md);
}

.RegisterPageHeaderOptionsWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: end;
}

.RegisterPageMain {
  width: var(--container-md);
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  padding: var(--space-xl);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-sm);
  margin: 0 auto;
}

.RegisterPageLogo {
  height: var(--size-2xl);
  width: var(--size-2xl);
}

.RegisterPageProjectTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--space-md);
}

.RegisterPageProjectTitle {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-4xl);
}

.RegisterPageFooter {
  font-size: var(--font-size-sm);
}
