.RegisterFormWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.RegisterFormField {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.RegisterFormLink {
  color: var(--color-text-link);
}
.RegisterFormLink:hover {
  color: var(--color-text-link-hover);
}

.RegisterFormSubmitButton {
  text-align: center;
}
