@use '@styles/variables' as *;

.ApplicationHeader {
  display: flex;
  justify-content: space-between;
  gap: $spacing-24;
  align-items: center;
  padding: $spacing-16 $spacing-24;
  border-bottom: 1px solid var(--primary-color-dark);
  box-shadow: 0 4px 6px rgba(var(--primary-color-dark), 0.3);
}

.ApplicationHeaderActions {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: $spacing-16;
  flex-grow: 1;
  max-width: 450px;
}

.ApplicationHeaderActionsButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-8;
}
