.LoginPage {
  padding: var(--space-xl) var(--space-md);
}

.LoginPageLightDarkModeButtonWrapper {
  display: flex;
  justify-content: end;
}

.LoginPageLightDarkModeButton {
  cursor: pointer;
  background-color: transparent;
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  border: 2px solid var(--color-border);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.LoginPageLightDarkModeButton:hover {
  background-color: var(--color-accent);
}

.LoginPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.LoginPageProjectTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LoginPageProjectTitle {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
}

.LoginPageFooterLink {
  color: var(--color-text-link);
}
.LoginPageFooterLink:hover {
  color: var(--color-text-link-hover);
}
