.ResetPasswordFormCardWrapper {
  width: var(--container-md);
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  padding: var(--space-lg);
}

.ResetPasswordFormCardHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--space-lg);
}

.ResetPasswordFormCardTitle {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.ResetPasswordFormCardSubTitle {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-tight);
  text-align: center;
}

.ResetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-md) 0 var(--space-lg) 0;
}

.ResetPasswordFormInputFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ResetPasswordFormLabel {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
}

.ResetPasswordFormInput {
  appearance: auto;
  border-radius: var(--radius-md);
  padding: var(--space-md) var(--space-sm);
  border: 2px solid var(--color-border-light);
  font-size: var(--font-size-sm);
}
.ResetPasswordFormInput:hover {
  border-color: var(--color-border-strong);
}
