.ResetPasswordPage {
  padding: var(--space-xl) var(--space-md);
}

.ResetPasswordPageHeaderOptionsWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: end;
}

.ResetPasswordPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.ResetPasswordPageProjectLogoTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ResetPasswordPageProjectTitle {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-4xl);
}
