.ResendVerificationMailForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.ResendVerificationMailFormWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.ResendVerificationMailFormField {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.ResendVerificationMailSubmitButton {
  text-align: center;
}
