.LoginPage {
  padding: var(--space-xl) var(--space-md);
}

.LoginPageHeaderOptionsWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: end;
}

.LoginPageMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
}

.LoginPageLogo {
  height: var(--size-2xl);
  width: var(--size-2xl);
}

.LoginPageProjectLogoTitleWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LoginPageProjectTitle {
  font-size: var(--font-size-5xl);
  line-height: var(--line-height-4xl);
}
