.InputField {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: var(--space-sm);
}

.InputFieldInput {
  all: unset;
  font-size: var(--font-size-sm);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: var(--size-xl);
  border: 1px solid var(--color-border);
  line-height: 1;
}
.InputFieldInput:hover {
  border-color: var(--color-border-light);
}
.InputFieldInput:focus {
  outline: 2px solid var(--color-border-focus);
}

.InputFieldInputWithIcon {
  padding-right: var(--space-32);
}

.InputFieldInputIconWrapper {
  position: relative;
  display: flex;
  flex: 1;
}
.InputFieldIcon {
  position: absolute;
  top: 50%;
  right: calc(1.5 * var(--space-unit));
  transform: translateY(-50%);
  width: calc(4.5 * var(--size-unit));
  height: calc(4.5 * var(--size-unit));
}

.InputFieldIcon > * {
  width: 100%;
  height: 100%;
}
